@import "./../../variables.scss";
@import "./../../global.scss";

.hero-section {
  @extend .flex-row;
  height: 905px;

  .hero-left {
    width: 50%;
    padding: 40px 24px 40px 48px;
  }

  .hero-right {
    width: 50%;
    background-color: $dark-bgr;
    position: relative;
  }

  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    .hero-left {
      width: 100%;
      height: 480px;
      padding: 20px 16px;
    }
    .hero-right {
      width: 100%;
      height: 480px;
    }
  }
}
