@import "../../../variables.scss";
@import "../../../global.scss";

.container-review {
  width: 100%;
  height: auto;
  background-color: $white-bgr;
  padding: 0 50px;
  .left-box {
    width: 50%;
    text-align: start;
    .title-big{
        margin-bottom: 40px;
    }
  }
  .vertical-line {
    width: 4px;
    height: 100%;
    background-color:$main-bgr;
    margin: 0 40px;
  }
}
